.category-section .heading-section p {
    width: 690px !important;
    color: #64666c;
    font-weight: 500;
}
.banner-images-section img {
    width: 100%;
    height: 700px !important;
    border-radius: 10px;
    object-fit: cover;
}

.banner-images-section .container {
    max-width: 1550px !important;
}
.trending-section .card-product-wrapper {
    position: relative;
    overflow: hidden;
}

.trending-section .image-overlay-gradient {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);
    z-index: 1;
}

.trending-section .image-title {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    width: 100% !important;
}

.terms-of-use-wrap > .right .heading {
    margin-bottom: 20px !important;
}

.custom-bullet-list, .terms-of-use-wrap ul {
    list-style: none;
    padding-left: 20px;
    position: relative;
}

.custom-bullet-list li, .terms-of-use-wrap li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 12px;
}

.custom-bullet-list li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 10px;
    width: 8px;
    height: 8px;
    border: 2px solid #000;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    display: block;
}