{% extends 'web/base.html' %}
{% load static %}
{% block content %}

        <!-- Slider -->
        <section class="tf-slideshow slider-default slider-effect-fade">
            <div dir="ltr" class="swiper tf-sw-slideshow" data-effect="fade" data-preview="1" data-tablet="1" data-mobile="1" data-centered="false" data-space="0" data-space-mb="0" data-loop="true" data-auto-play="true">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="wrap-slider">
                            <img src="{% static 'web/images/slider/banner.webp' %}" alt="fashion-slideshow">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="wrap-slider">
                            <img src="{% static 'web/images/slider/banner2.webp' %}" alt="fashion-slideshow">
                        </div>
                    </div>
                </div>
            </div>
            <div class="wrap-pagination">
                <div class="container">
                    <div class="sw-dots sw-pagination-slider type-circle white-circle justify-content-center"></div>
                </div>
            </div>
        </section>
        <!-- /Slider -->

        <!-- Category collection -->
        <section class="flat-spacing-2 pb_0 category-section">
            <div class="container">
                <div class="heading-section text-center wow fadeInUp">
                    <h3 class="heading">We Believe You Are Unique</h3>
                    <p class="subheading text-secondary mx-auto">Why settle for a furniture that is made for someone else? With aesthetic designs, premium materials and skilled artisanship, our team is committed to improve your shopping experience.</p>
                </div>
                <div dir="ltr" class="swiper tf-sw-collection sw-lookbook-wrap" data-preview="3" data-tablet="2" data-mobile="1" data-space-lg="30" data-space-md="30" data-space="15" data-pagination="1" data-pagination-md="1" data-pagination-lg="1">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="collection-position-3 hover-img wow fadeInUp" data-wow-delay="0s">
                                <a href="shop-collection.html" class="img-style">
                                    <img class="lazyload" data-src="{% static 'web/images/extra/category1.webp' %}" src="{% static 'web/images/extra/category1.webp' %}" alt="banner-cls">
                                </a>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="collection-position-3 hover-img wow fadeInUp" data-wow-delay="0s">
                                <a href="shop-collection.html" class="img-style">
                                    <img class="lazyload" data-src="{% static 'web/images/extra/category2.webp' %}" src="{% static 'web/images/extra/category2.webp' %}" alt="banner-cls">
                                </a>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="collection-position-3 hover-img wow fadeInUp" data-wow-delay="0s">
                                <a href="shop-collection.html" class="img-style">
                                    <img class="lazyload" data-src="{% static 'web/images/extra/category3.webp' %}" src="{% static 'web/images/extra/category3.webp' %}" alt="banner-cls">
                                </a>
                            </div>
                        </div>
                        
                        
                    </div>
                    <div class="sw-pagination-collection sw-dots type-circle justify-content-center"></div>
                </div>
            </div>
        </section>
        <!-- /Category collection -->

        <!-- Banner section -->
        <section class="banner-images-section flat-spacing-2 pb_0">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-md-12 col-12">
                        <div class="banner-img wow fadeInUp" data-wow-delay="0s">
                            <img src="{% static 'web/images/extra/card_img1.webp' %}">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /Banner section -->

         <!-- trending section -->
         <section class="flat-spacing-2 pb_0 trending-section">
            <div class="container">
                <div class="heading-section-2 wow fadeInUp">
                    <h3>New & Trending Favorites</h3>
                </div>
                <div dir="ltr" class="swiper tf-sw-latest" data-preview="4" data-tablet="3" data-mobile="2" data-space-lg="30" data-space-md="30" data-space="15" data-pagination="1" data-pagination-md="1" data-pagination-lg="1">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="card-product wow fadeInUp" data-wow-delay="0s">
                                <div class="card-product-wrapper position-relative">
                                    <a href="product-detail.html" class="product-img d-block position-relative">
                                        <img data-src="{% static 'web/images/extra/trending1.webp' %}" src="{% static 'web/images/extra/trending1.webp' %}" alt="image-product" class="img-fluid">
                                        <div class="image-overlay-gradient"></div>
                                        <div class="image-title">Trending Product</div>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="card-product wow fadeInUp" data-wow-delay="0s">
                                <div class="card-product-wrapper position-relative">
                                    <a href="product-detail.html" class="product-img d-block position-relative">
                                        <img data-src="{% static 'web/images/extra/trending2.webp' %}" src="{% static 'web/images/extra/trending2.webp' %}" alt="image-product" class="img-fluid">
                                        <div class="image-overlay-gradient"></div>
                                        <div class="image-title">Ready to Ship</div>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="card-product wow fadeInUp" data-wow-delay="0s">
                                <div class="card-product-wrapper position-relative">
                                    <a href="product-detail.html" class="product-img d-block position-relative">
                                        <img data-src="{% static 'web/images/extra/trending3.webp' %}" src="{% static 'web/images/extra/trending3.webp' %}" alt="image-product" class="img-fluid">
                                        <div class="image-overlay-gradient"></div>
                                        <div class="image-title">Trending Now</div>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="card-product wow fadeInUp" data-wow-delay="0s">
                                <div class="card-product-wrapper position-relative">
                                    <a href="product-detail.html" class="product-img d-block position-relative">
                                        <img data-src="{% static 'web/images/extra/trending4.webp' %}" src="{% static 'web/images/extra/trending4.webp' %}" alt="image-product" class="img-fluid">
                                        <div class="image-overlay-gradient"></div>
                                        <div class="image-title">Best Sellers</div>
                                    </a>
                                </div>
                            </div>
                        </div>

                      
                       
                    </div>
                    <div class="sw-pagination-latest sw-dots type-circle justify-content-center"></div>
                </div>
            </div>
        </section>
        <!-- /trensing section -->

        <!-- Banner section -->
        <section class="banner-images-section flat-spacing-2 pb_0">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-md-12 col-12 mb-5">
                        <div class="banner-img wow fadeInUp" data-wow-delay="0s">
                            <img src="{% static 'web/images/extra/card_img2.webp' %}">
                        </div>
                    </div>

                    <div class="col-lg-12 col-sm-12 col-md-12 col-12">
                        <div class="banner-img wow fadeInUp" data-wow-delay="0s">
                            <img src="{% static 'web/images/extra/card_img3.webp' %}">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /Banner section -->

         <!-- Spotlight pick -->
         <section class="Spotlight-section flat-spacing-2 pb_0">
            <div class="container">
                <div class="heading-section-2 wow fadeInUp">
                    <h3>In the Spotlight</h3>
                </div>
                <div dir="ltr" class="swiper tf-sw-latest" data-preview="4" data-tablet="3" data-mobile="2" data-space-lg="30" data-space-md="30" data-space="15" data-pagination="1" data-pagination-md="1" data-pagination-lg="1">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="card-product wow fadeInUp" data-wow-delay="0s">
                                <div class="card-product-wrapper">
                                    <a href="product-detail.html" class="product-img">
                                        <img data-src="{% static 'web/images/extra/spotlight1.webp' %}" src="{% static 'web/images/extra/spotlight1.webp' %}" alt="image-product" class="img-fluid">
                                    </a>
                                </div>
                                <div class="card-product-info">
                                    <a href="product-detail.html" class="title link">Sofas</a>
                                </div>
                            </div>
                        </div>
                        
                        <div class="swiper-slide">
                            <div class="card-product wow fadeInUp" data-wow-delay="0s">
                                <div class="card-product-wrapper">
                                    <a href="product-detail.html" class="product-img">
                                        <img data-src="{% static 'web/images/extra/spotlight2.webp' %}" src="{% static 'web/images/extra/spotlight2.webp' %}" alt="image-product" class="img-fluid">
                                    </a>
                                </div>
                                <div class="card-product-info">
                                    <a href="product-detail.html" class="title link">Coffee Tables</a>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="card-product wow fadeInUp" data-wow-delay="0s">
                                <div class="card-product-wrapper">
                                    <a href="product-detail.html" class="product-img">
                                        <img data-src="{% static 'web/images/extra/spotlight3.webp' %}" src="{% static 'web/images/extra/spotlight3.webp' %}" alt="image-product" class="img-fluid">
                                    </a>
                                </div>
                                <div class="card-product-info">
                                    <a href="product-detail.html" class="title link">Accents</a>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="card-product wow fadeInUp" data-wow-delay="0s">
                                <div class="card-product-wrapper">
                                    <a href="product-detail.html" class="product-img">
                                        <img data-src="{% static 'web/images/extra/spotlight4.webp' %}" src="{% static 'web/images/extra/spotlight4.webp' %}" alt="image-product" class="img-fluid">
                                    </a>
                                </div>
                                <div class="card-product-info">
                                    <a href="product-detail.html" class="title link">Beds</a>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="sw-pagination-latest sw-dots type-circle justify-content-center"></div>
                </div>
            </div>
        </section>
        <!-- /Top pick -->

        <!-- Banner section -->
        <section class="banner-images-section flat-spacing-2 pb_0">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-md-12 col-12 mb-5">
                        <div class="banner-img wow fadeInUp" data-wow-delay="0s">
                            <img src="{% static 'web/images/extra/card_img4.webp' %}">
                        </div>
                    </div>

                    <div class="col-lg-12 col-sm-12 col-md-12 col-12">
                        <div class="banner-img wow fadeInUp" data-wow-delay="0s">
                            <img src="{% static 'web/images/extra/card_img5.webp' %}">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /Banner section -->

         <!-- more waiting section -->
         <section class="flat-spacing-2 pb_0 trending-section">
            <div class="container">
                <div class="heading-section-2 wow fadeInUp">
                    <h3>More Waiting for You</h3>
                </div>
                <div dir="ltr" class="swiper tf-sw-latest" data-preview="4" data-tablet="3" data-mobile="2" data-space-lg="30" data-space-md="30" data-space="15" data-pagination="1" data-pagination-md="1" data-pagination-lg="1">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="card-product wow fadeInUp" data-wow-delay="0s">
                                <div class="card-product-wrapper position-relative">
                                    <a href="product-detail.html" class="product-img d-block position-relative">
                                        <img data-src="{% static 'web/images/extra/trending1.webp' %}" src="{% static 'web/images/extra/living_room.webp' %}" alt="image-product" class="img-fluid">
                                        <div class="image-overlay-gradient"></div>
                                        <div class="image-title">Living Room</div>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="card-product wow fadeInUp" data-wow-delay="0s">
                                <div class="card-product-wrapper position-relative">
                                    <a href="product-detail.html" class="product-img d-block position-relative">
                                        <img data-src="{% static 'web/images/extra/trending2.webp' %}" src="{% static 'web/images/extra/dining_room.webp' %}" alt="image-product" class="img-fluid">
                                        <div class="image-overlay-gradient"></div>
                                        <div class="image-title">Dining Room</div>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="card-product wow fadeInUp" data-wow-delay="0s">
                                <div class="card-product-wrapper position-relative">
                                    <a href="product-detail.html" class="product-img d-block position-relative">
                                        <img data-src="{% static 'web/images/extra/trending3.webp' %}" src="{% static 'web/images/extra/bed_room.webp' %}" alt="image-product" class="img-fluid">
                                        <div class="image-overlay-gradient"></div>
                                        <div class="image-title">Bed Room</div>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="card-product wow fadeInUp" data-wow-delay="0s">
                                <div class="card-product-wrapper position-relative">
                                    <a href="product-detail.html" class="product-img d-block position-relative">
                                        <img data-src="{% static 'web/images/extra/trending4.webp' %}" src="{% static 'web/images/extra/living.webp' %}" alt="image-product" class="img-fluid">
                                        <div class="image-overlay-gradient"></div>
                                        <div class="image-title">Outdoor & Indoor Living</div>
                                    </a>
                                </div>
                            </div>
                        </div>

                      
                       
                    </div>
                    <div class="sw-pagination-latest sw-dots type-circle justify-content-center"></div>
                </div>
            </div>
        </section>
        <!-- /more waiting section -->

        <!-- Banner section -->
        <section class="banner-images-section flat-spacing-2 pb_0">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-md-12 col-12 mb-5">
                        <div class="banner-img wow fadeInUp" data-wow-delay="0s">
                            <img src="{% static 'web/images/extra/card_img6.webp' %}">
                        </div>
                    </div>

                    <div class="col-lg-12 col-sm-12 col-md-12 col-12">
                        <div class="banner-img wow fadeInUp" data-wow-delay="0s">
                            <img src="{% static 'web/images/extra/card_img7.webp' %}">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /Banner section -->

        <!-- team section -->
        <section class="flat-spacing-2 pb_0 trending-section">
            <div class="container">
                <div class="heading-section-2 wow fadeInUp">
                    <h3>Meet our Design Masters</h3>
                </div>
                <div dir="ltr" class="swiper tf-sw-latest" data-preview="4" data-tablet="3" data-mobile="2" data-space-lg="30" data-space-md="30" data-space="15" data-pagination="1" data-pagination-md="1" data-pagination-lg="1">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="card-product wow fadeInUp" data-wow-delay="0s">
                                <div class="card-product-wrapper position-relative">
                                    <a href="product-detail.html" class="product-img d-block position-relative">
                                        <img data-src="{% static 'web/images/extra/trending1.webp' %}" src="{% static 'web/images/extra/team1.webp' %}" alt="image-product" class="img-fluid">
                                        <div class="image-overlay-gradient"></div>
                                        <div class="image-title">Says Who</div>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="card-product wow fadeInUp" data-wow-delay="0s">
                                <div class="card-product-wrapper position-relative">
                                    <a href="product-detail.html" class="product-img d-block position-relative">
                                        <img data-src="{% static 'web/images/extra/trending2.webp' %}" src="{% static 'web/images/extra/team2.webp' %}" alt="image-product" class="img-fluid">
                                        <div class="image-overlay-gradient"></div>
                                        <div class="image-title">Sanne Protin</div>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="card-product wow fadeInUp" data-wow-delay="0s">
                                <div class="card-product-wrapper position-relative">
                                    <a href="product-detail.html" class="product-img d-block position-relative">
                                        <img data-src="{% static 'web/images/extra/trending3.webp' %}" src="{% static 'web/images/extra/team3.webp' %}" alt="image-product" class="img-fluid">
                                        <div class="image-overlay-gradient"></div>
                                        <div class="image-title">Morten Georgsen</div>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="card-product wow fadeInUp" data-wow-delay="0s">
                                <div class="card-product-wrapper position-relative">
                                    <a href="product-detail.html" class="product-img d-block position-relative">
                                        <img data-src="{% static 'web/images/extra/trending4.webp' %}" src="{% static 'web/images/extra/team4.webp' %}" alt="image-product" class="img-fluid">
                                        <div class="image-overlay-gradient"></div>
                                        <div class="image-title">Jacob Amtorp</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                    <div class="sw-pagination-latest sw-dots type-circle justify-content-center"></div>
                </div>
            </div>
        </section>
        <!-- /team section -->

        <!-- Banner section -->
        <section class="banner-images-section flat-spacing-2 pb_0">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-md-12 col-12 mb-5">
                        <div class="banner-img wow fadeInUp" data-wow-delay="0s">
                            <img src="{% static 'web/images/extra/card_img8.webp' %}">
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- /Banner section -->

        <!-- Partner -->
        <section class="flat-spacing-5 bg-surface">
            <div class="container">
                <div dir="ltr" class="swiper tf-sw-partner sw-auto" data-preview="auto" data-tablet="auto" data-mobile-sm="auto" data-mobile="auto" data-space-lg="74" data-space-md="50" data-space="50" data-loop="true" data-auto-play="true" data-delay="0">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#" class="brand-item">
                                <img src="{% static 'web/images/brand/vanfaba.png' %}" alt="brand">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="brand-item">
                                <img src="{% static 'web/images/brand/anvouge.png' %}" alt="brand">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="brand-item">
                                <img src="{% static 'web/images/brand/carolin.png' %}" alt="brand">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="brand-item">
                                <img src="{% static 'web/images/brand/shangxi.png' %}" alt="brand">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="brand-item">
                                <img src="{% static 'web/images/brand/ecomife.png' %}" alt="brand">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="brand-item">
                                <img src="{% static 'web/images/brand/cheryl.png' %}" alt="brand">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="brand-item">
                                <img src="{% static 'web/images/brand/sopify.png' %}" alt="brand">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="brand-item">
                                <img src="{% static 'web/images/brand/pennyw.png' %}" alt="brand">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="brand-item">
                                <img src="{% static 'web/images/brand/panadoxn.png' %}" alt="brand">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /Partner -->

        <!-- Banner section -->
        <section class="banner-images-section flat-spacing-2 pb_0">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-md-12 col-12 mb-5">
                        <div class="banner-img wow fadeInUp" data-wow-delay="0s">
                            <img src="{% static 'web/images/extra/card_img9.webp' %}">
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- /Banner section -->

         <!-- Category collection -->
         <section class="flat-spacing-2 pb_0 category-section">
            <div class="container">
                <div class="heading-section text-center wow fadeInUp">
                    <h3 class="heading">Curated Galleries</h3>
                    <p class="subheading text-secondary mx-auto">Our stores exude an aura that’s irresistible with great wood and fabric. Catching your eyes and captivating your mind, our art stands at every nook and corner looking at you. Visit and get consumed.</p>
                </div>
                <div dir="ltr" class="swiper tf-sw-collection sw-lookbook-wrap" data-preview="3" data-tablet="2" data-mobile="1" data-space-lg="30" data-space-md="30" data-space="15" data-pagination="1" data-pagination-md="1" data-pagination-lg="1">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="collection-position-3 hover-img wow fadeInUp" data-wow-delay="0s">
                                <a href="shop-collection.html" class="img-style">
                                    <img class="lazyload" data-src="{% static 'web/images/extra/store1.webp' %}" src="{% static 'web/images/extra/store1.webp' %}" alt="banner-cls">
                                </a>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="collection-position-3 hover-img wow fadeInUp" data-wow-delay="0s">
                                <a href="shop-collection.html" class="img-style">
                                    <img class="lazyload" data-src="{% static 'web/images/extra/store2.webp' %}" src="{% static 'web/images/extra/store2.webp' %}" alt="banner-cls">
                                </a>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="collection-position-3 hover-img wow fadeInUp" data-wow-delay="0s">
                                <a href="shop-collection.html" class="img-style">
                                    <img class="lazyload" data-src="{% static 'web/images/extra/store3.webp' %}" src="{% static 'web/images/extra/store3.webp' %}" alt="banner-cls">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="sw-pagination-collection sw-dots type-circle justify-content-center"></div>
                </div>
            </div>
        </section>
        <!-- /Category collection -->

        <!-- Terms of use -->
        <section class="flat-spacing">
            <div class="container">
                <div class="terms-of-use-wrap">
                    <div class="right">
                        <h5 class="heading">Buy Premium Furniture Online</h5>
                        <div class="terms-of-use-item item-scroll-target" data-scroll="terms">
                            <div class="terms-of-use-content">
                                <p>Your home reflects your personality, and choosing the right furniture plays a crucial role in defining its aesthetics and comfort. Premium furniture is not just about the visual appeal of your interiors but also has a lot to do with durability, functionality, and sophistication. </p>
                                <p>You might be wondering if your bedroom, living room or office space needs a revamp, either way investing in premium furniture can make all the difference.</p>
                                <p>At Dtale Modern, we bring you a stunning range of premium furniture designed to complement diverse styles and preferences. With a seamless online shopping experience, you can explore our curated collection and find pieces that perfectly align with your vision.</p>
                                <p>So whether you're searching for entryway furniture, living room furniture, bedroom furniture, dining room furniture, home office furniture, or outdoor furniture, Dtale Modern has it all.</p>
                            </div>
                        </div>
                        <div class="terms-of-use-item item-scroll-target" data-scroll="limitations">
                            <h5 class="terms-of-use-title">How Can Premium Furniture Improve Your Home Aesthetics?</h5>
                            <div class="terms-of-use-content">
                                <p>Premium furniture is off course a functional addition to your home and it also serves as a statement piece that revolutionises your space. Here is how premium furniture can elevate the aesthetics of your home:</p>

                                <ul class="custom-bullet-list">
                                    <li><strong>Elegant Design:</strong> Premium furniture often features sophisticated craftsmanship and timeless styles that add charm to any room.</li>
                                    <li><strong>Material Quality:</strong> High-end materials such as solid wood, leather, or metal finishes create a luxurious and durable look.</li>
                                    <li><strong>Visual Harmony:</strong> Carefully designed pieces complement the overall interior theme, bringing balance and cohesiveness.</li>
                                    <li><strong>Personal Expression:</strong> Designer furniture reflects your personal taste and creates a unique identity for your home.</li>
                                    <li><strong>Space Optimization:</strong> Premium furniture often includes smart, stylish storage or multi-functional pieces that make your space look clean and organized.</li>
                                    <li><strong>Increased Property Appeal:</strong> A well-furnished home with high-quality pieces can significantly increase aesthetic and resale value.</li>
                                </ul>
                            </div>
                        </div>

                        <div class="terms-of-use-item item-scroll-target" data-scroll="limitations">
                            <h5 class="terms-of-use-title">Things to Consider While Buying Premium Furniture</h5>
                            <div class="terms-of-use-content">
                                <p>Dtale Modern is your go-to destination for premium furniture, offering a seamless and enjoyable shopping experience. Here’s why you should pick Dtale Modern for your furniture shopping:</p>

                                <ul>
                                    <li><strong>Material & Quality: </strong> Plump for furniture made from high-quality materials like solid wood, metal, or premium upholstery to ensure durability.</li>
                                    <li><strong>Design & Style: </strong> Choose furniture that complements your home’s decor and enhances its aesthetic appeal.</li>
                                    <li><strong>Functionality & Space:</strong>  Ensure the furniture fits your space and serves a practical purpose without compromising on style.</li>
                                    <li><strong>Comfort: </strong> Whether it’s a sofa, chair, or bed, comfort should be a priority while selecting furniture.</li>
                                    <li><strong>Maintenance Requirements: </strong> Consider the upkeep required for different materials and finishes before making a purchase.</li>
                                    <li><strong>Budget & Value: </strong> While premium furniture is an investment, ensure that it offers the best value for money in terms of quality and longevity.</li>
                                </ul>
                               
                            </div>
                        </div>

                        <div class="terms-of-use-item item-scroll-target" data-scroll="limitations">
                            <h5 class="terms-of-use-title">Why Buy Premium Furniture Online from Dtale Modern?</h5>
                            <div class="terms-of-use-content">
                                <p>Premium furniture is off course a functional addition to your home and it also serves as a statement piece that revolutionises your space. Here is how premium furniture can elevate the aesthetics of your home:</p>

                                <ul class="custom-bullet-list">
                                    <li><strong>Curated Collection:</strong> Our exclusive range includes stylish and high-quality furniture crafted to suit various interior aesthetics.</li>
                                    <li><strong>Superior Craftsmanship:</strong> We prioritize excellence in not just the design but also construction, ensuring each piece stands out in terms of quality and durability.</li>
                                    <li><strong>Convenient Online Shopping:</strong> Browse and shop for premium furniture from the comfort of your home with detailed product descriptions and high-resolution images.</li>
                                    <li><strong>Secure Transactions & Easy Returns:</strong> Enjoy a hassle-free purchasing experience with our secure payment options and customer-friendly return policies.</li>
                                    <li><strong>Exceptional Customer Service:</strong> Our dedicated support team is available to assist you in selecting the perfect furniture for your space.</li>
                                </ul>
                            </div>
                        </div>

                        <div class="terms-of-use-item item-scroll-target" data-scroll="limitations">
                            <h5 class="terms-of-use-title">Build the Space of Your Dreams with Dtale Modern, the Premium Online Store.</h5>
                            <div class="terms-of-use-content">
                                <p>Your home is an extension of your personal space and choices and this haven deserves nothing short of what’s the best. At Dtale Modern, we are committed to helping you create a space that reflects your taste and lifestyle.  Whether you’re looking for sleek and modern designs, classic aesthetics, or a blend of both, our collection offers carefully crafted pieces that transform every room into a statement of refined taste.</p>
                                <p>A collection of dining tables, modern beds, storage consoles, coffee tables, TV units, wardrobe furniture, bookshelves, accent chairs, and much more is what we have for you. At Dtale Modern, you can buy on-trend wooden furniture including outdoor furniture and home accents from the comfort of your own space, with features like simple EMI & free Pan-India shipping.</p>
                                <p>From welcoming entryway collections to cosy living room sets, exquisite dining sets, serene bedroom furnishings, and efficient home office solutions—every piece at Dtale Modern is designed to elevate your interiors. Our thoughtfully curated selection ensures that you don’t just furnish a space but create an ambience that resonates with warmth and elegance</p>
                                <p>Discover the perfect blend of sophistication and functionality—shop now and create a home that truly reflects you!</p>

                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </section>
        <!-- /Terms of use -->

        {% endblock %}